extends layout

block content

  #container.container-fluid
    button#updateAds.btn.btn-primary.float-end(onclick='updateAds()') Uppdatera annonser
      #spinner.spinner-border.mx-3.align-middle(role='status' style='display:none;')

    h1 ACME
    p Välkommen till ACME jobb
    #row.row
      #colAds.col.col-12

