extends layout

block content
  h1= title
  p Welcome to #{title}

  #container.container-fluid
    #row.row
      #colAds.col.col-12
        //- i.bi.bi-star-fill.display-5
        //- i.bi.bi-star.display-5
        //- i.bi.bi-star.display-5.btn.btn-outline-secondary.bg-dark
        //- i.bi.bi-star-fill.display-5.btn.btn-outline-secondary.bg-dark
      #colStar.col.col-6

