extends layout

block content

  #container.container-fluid
    #spinner.spinner-border.mx-3.align-middle.d-none.float-end(role='status')
    button#updateAds.btn.btn-primary.float-end(onclick='updateAds()') Uppdatera annonser

    h1 ACME
    p Välkommen till ACME jobb
    #row.row
      #colAds.col.col-12

